modules = ["nodejs-20", "web", "bash"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5002
externalPort = 3000

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "smartcut_jwt_secret_key_2024"
ADMIN_EMAIL = "eroldjhon.mancilla@lspu.edu.ph"
ADMIN_PASSWORD = "mancilla123"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bWVycnktc2x1Zy04NC5jbGVyay5hY2NvdW50cy5kZXYk"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_ChAniK1ER2DT@ep-little-sunset-an5hosq7-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
